@use "sass:map";
@use "sass:list";
@use "config";
@use "assert";

/// Apply the default container width to the element
///
/// @param {Length} $extra [null] - Add the given extra space to the width
@mixin apply-widths($extra: null) {
    @include -apply-container-width-property(width, $extra);
}

/// Set the `--container-max-width` custom property
///
/// @param {Length} $extra [null] - Add the given extra space to the width
@mixin set-max-width-property($extra: null) {
    @include -apply-container-width-property(--container-max-width, $extra);
}

/// Apply the default container width to the element
///
/// @param {String} $property     - Property to apply the width to
/// @param {Length} $extra [null] - Add the given extra space to the width
@mixin -apply-container-width-property($property, $extra: null) {
    @include assert.is-configured(config.$internal-screen-breakpoints);
    @include assert.is-configured(config.$internal-container-max-widths);

    // If the breakpoints don't contain a 0-breakpoint or
    // there is no container-max-width for the smallest screen
    // we set a default value of 100%
    $smallest-screen: list.nth(map.keys(config.$internal-screen-breakpoints), 1);
    $has-breakpoint-with-zero: 0 == map.get(config.$internal-screen-breakpoints, $smallest-screen);
    $has-container-width-for-smallest-screen: map.has-key(config.$internal-container-max-widths, $smallest-screen);

    @if not $has-breakpoint-with-zero or not $has-container-width-for-smallest-screen {
        #{$property}: 100%;
    }

    @each $name, $breakpoint in config.$internal-screen-breakpoints {
        @if map.has-key(config.$internal-container-max-widths, $name) {
            $max-width: map.get(config.$internal-container-max-widths, $name);
            $value: if($extra, calc($max-width + $extra), $max-width);

            @if $breakpoint > 0 {
                @media (min-width: $breakpoint) {
                    #{$property}: $value;
                }
            } @else {
                #{$property}: $value;
            }
        }
    }
}
