@use "sass:map";
@use "sass:string";
@use "assert" as assert;

$internal-screen-breakpoints: ();
$internal-container-max-widths: ();
$internal-grid-configuration: ();

@mixin configure($screen-breakpoints, $container-max-widths, $grid-configuration) {
    @include assert.ascending($screen-breakpoints, "$grid-breakpoints");
    @include assert.starts-at-zero($screen-breakpoints, "$grid-breakpoints");

    $internal-screen-breakpoints: $screen-breakpoints !global;
    $internal-container-max-widths: $container-max-widths !global;

    @if not map.has-key($grid-configuration, "columns") {
        @error "Missing `columns` in grid-configuration";
    }

    @if not map.has-key($grid-configuration, "gap") {
        @error "Missing `gap` in grid-configuration";
    }

    $internal-grid-configuration: $grid-configuration !global;
}

/// Retrieve a configuration value from one of the configuration sets
///
/// @example scss get the configured gap
///
///     :root {
///         --gap: #{lib.config-get("grid-configuration", "gap")};
///     }
///
/// @param {String} $set One of "grid-configuration", "screen-breakpoints", "container-max-widths"
/// @param {String} $key Key inside the [$set]
/// @return {*} Return the configured value
@function config-get($set, $key) {
    @if $set == "screen-breakpoints" {
        @return map.get($internal-screen-breakpoints, $key);
    } @else if $set == "container-max-widths" {
        @return map.get($internal-container-max-widths, $key);
    } @else if $set == "grid-configuration" {
        @return map.get($internal-grid-configuration, $key);
    }

    @error "Invalid set '#{$set}'";
}
