@use "sass:map";
@use "sass:meta";

/// Invoke $callback for each pair in the map and build a new map from the result
///
/// @example scss default usage
///     @use "sass:meta";
///
///     $input: (
///         "xs": 100%,
///         "sm": 200px,
///         "md": 300px,
///     );
///     @function double-the-size($value, $key) {
///         @return $value * 2;
///     }
///     @debug lib.func-map($input, meta.get-function("double-the-size"));
///     // ("xs": 200%, "sm": 400px, "md": 600px)
///
///
/// @example scss reusable functions
///     @use "sass:list";
///     @use "sass:meta";
///
///     $font-size-scaling: (
///         "xs": 1,
///         "sm": 0.5,
///         "md": 0.75,
///         "lg": 1,
///     );
///     $h1-font-size: 10rem;
///
///     @function scale-font-size($value, $key, $font-size-to-scale) {
///         @return $value * $font-size-to-scale;
///     }
///
///     $h1-font-size-scaled: lib.func-map(
///         $font-size-scaling,
///         meta.get-function("scale-font-size"),
///         $h1-font-size
///     );
///     @debug $h1-font-size-scaled;
///     // ("xs": 10rem, "sm": 5rem, "md": 7.5rem, "lg": 10rem)
///
/// @param {Map} $input
/// @param {Function} $callback
/// @return {Map} Return a new map with $callback applied to each element of $input
@function map($input, $callback, $args...) {
    @if meta.type-of($callback) != "function" {
        @error "Argument 'callback' must be of type 'function', '" + meta.type-of($callback) + "' given";
    }

    @if meta.type-of($input) != "map" {
        @error "Argument 'input' must be of type 'map', '" + meta.type-of($input) + "' given";
    }

    $result: ();

    @each $key, $value in $input {
        $mapped-value: meta.call($callback, $value, $key, $args...);
        $result: map.set($result, $key, $mapped-value);
    }

    @return $result;
}
