// Some of the following responsive mixins are taken from Rafal Bromirski (http://paranoida.com/)
@use "sass:map";
@use "sass:list";
@use "config";
@use "assert";

////
/// Responsive helpers
/// @group media query

/// Returns the min screen width for the given screen size
///
/// @param {String} $screen-size
/// @return {Length} Returns the lower bound for the given screen
@function min($screen-size) {
    @return -internal-min($screen-size);
}

/// Returns the max screen width for the given screen size
///
/// @param {String} $screen-size
/// @return {Length} Returns the upper bound for the given screen
@function max($screen-size) {
    @return -internal-max($screen-size);
}

/// Apply the styles for screens with a minimum width of $res-min and a maximum width of $res-max
///
/// This mixin can also be called with only one argument which then must be a screen-size keyword
///
/// @example scss - Usage with concrete min and max values
///     @include lib.screen-match(100px, 200px) { /* styles */ }
///     // @media screen and (min-width: 100px) and (max-width: 200px) { /* styles */ }
///
/// @example scss - Usage with min and max value keywords
///     @include lib.screen-match(xs, sm) { /* styles */ }
///     // @media screen and (min-width: -internal-max('xs')) and (max-width: -internal-max('sm')) { /* styles *}/ }
///
/// @example scss - Usage with only one keyword
///     @include lib.screen-match(xs) { /* styles */ }
///     // @media screen and (min-width: -internal-min('xs')) and (max-width: -internal-max('xs')) { /* styles *}/ }
///
/// @param {Length|String} $res-min The min width as value or one of the screen-size keywords
/// @param {Length|String} $res-max The max width as value or one of the screen-size keywords
/// @content Wrapped into media query
@mixin match($res-min, $res-max: none) {
    @include assert.is-configured(config.$internal-screen-breakpoints);

    $concrete-res-min: 0;
    $concrete-res-max: 0;

    @if $res-max == none {
        @if type-of($res-min) == number {
            @error "If $res-max is not given $res-min must be a screen-size keyword (e.g. 'sm')";
        }

        $concrete-res-min: -internal-min($res-min);
        $concrete-res-max: -internal-max($res-min);
    } @else {
        @if type-of($res-min) == number {
            $concrete-res-min: $res-min;
        } @else {
            $concrete-res-min: -internal-min($res-min);
        }

        @if type-of($res-max) == number {
            $concrete-res-max: $res-max;
        } @else {
            $concrete-res-max: -internal-max($res-max);
        }
    }

    @media screen and (min-width: $concrete-res-min) and (max-width: $concrete-res-max) {
        // -iresults-debug: "@media screen and (min-width: #{$concrete-res-min}) and (max-width: #{$concrete-res-max})";
        @content;
    }
}

/// Apply the styles for screens with a maximum width of $res
///
/// @param {Length|String} $res The max width as value or one of the screen-size keywords
/// @content Wrapped into media query
@mixin max($res) {
    @include assert.is-configured(config.$internal-screen-breakpoints);

    $concrete-res: $res;

    @if type-of($res) != number {
        $concrete-res: -internal-max($res);
    }

    @media screen and (max-width: $concrete-res) {
        @content;
    }
}

/// Apply the styles for screens with a maximum width of $grid-breakpoints.xs
///
/// @content Wrapped into media query
@mixin max-xs() {
    @media screen and (max-width: -internal-max(xs)) {
        @content;
    }
}

/// Apply the styles for screens with a maximum width of $grid-breakpoints.sm
///
/// @content Wrapped into media query
@mixin max-sm() {
    @media screen and (max-width: -internal-max(sm)) {
        @content;
    }
}

/// Apply the styles for screens with a maximum width of $grid-breakpoints.md
///
/// @content Wrapped into media query
@mixin max-md() {
    @media screen and (max-width: -internal-max(md)) {
        @content;
    }
}

/// Apply the styles for screens with a maximum width of $grid-breakpoints.lg
///
/// @content Wrapped into media query
@mixin max-lg() {
    @media screen and (max-width: -internal-max(lg)) {
        @content;
    }
}

/// Apply the styles for screens with a minimum width of $res
///
/// @param {Length|String} $res The max width as value or one of the screen-size keywords
/// @content Wrapped into media query
@mixin min($res) {
    @include assert.is-configured(config.$internal-screen-breakpoints);

    $concrete-res: $res;

    @if type-of($res) != number {
        $concrete-res: -internal-min($res);

        @if not $concrete-res {
            $concrete-res: 0;
        }
    }

    @media screen and (min-width: $concrete-res) {
        @content;
    }
}

/// Apply the styles for screens with a minimum width of $grid-breakpoints->sm
///
/// @content Wrapped into media query
@mixin min-xs() {
    @media screen and (min-width: -internal-min(xs)) {
        @content;
    }
}

/// Apply the styles for screens with a minimum width of $grid-breakpoints->sm
///
/// @content Wrapped into media query
@mixin min-sm() {
    @media screen and (min-width: -internal-min(sm)) {
        @content;
    }
}

/// Apply the styles for screens with a minimum width of $grid-breakpoints->md
///
/// @content Wrapped into media query
@mixin min-md() {
    @media screen and (min-width: -internal-min(md)) {
        @content;
    }
}

/// Apply the styles for screens with a minimum width of $grid-breakpoints->lg
///
/// @content Wrapped into media query
@mixin min-lg() {
    @media screen and (min-width: -internal-min(lg)) {
        @content;
    }
}

/// Apply the styles for screens with a minimum width of $grid-breakpoints->xl
///
/// @content Wrapped into media query
@mixin min-xl() {
    @media screen and (min-width: -internal-min(xl)) {
        @content;
    }
}

/// Apply the styles for screens with a minimum height of $res-min and a maximum height of $res-max
///
/// @param {Length} $res-min The min height
/// @param {Length} $res-max The max height
/// @content Wrapped into media query
@mixin height($res-min, $res-max) {
    @media screen and (min-height: $res-min) and (max-height: $res-max) {
        @content;
    }
}

/// Apply the styles for screens with a maximum height of $res-max
///
/// @param {Length} $res The max height
/// @content Wrapped into media query
@mixin max-height($res) {
    @media screen and (max-height: $res) {
        @content;
    }
}

/// Apply the styles for screens with a minimum height of $res-min
///
/// @param {Length} $res The min height
/// @content Wrapped into media query
@mixin min-height($res) {
    @media screen and (min-height: $res) {
        @content;
    }
}

/// HDPI
///
/// Based on bourbon hidpi-media-queries file (https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hidpi-media-query.scss)
/// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)
///
/// @content Wrapped into media query
@mixin hdpi($ratio: 1.3) {
    // stylelint-disable
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min--moz-device-pixel-ratio: $ratio),
    only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
    only screen and (min-resolution: #{round($ratio*96)}dpi),
    only screen and (min-resolution: #{$ratio}dppx) {
        @content;
    }
    // stylelint-enable
}

/// Returns the next screen breakpoint after the $screen-size
///
/// @link https://github.com/twbs/bootstrap/blob/958b610cfa0cfb888c14f48fb0dc8eafc8a99014/scss/mixins/_breakpoints.scss#L4
/// @param {String} $screen-size
/// @return {String}
/// @access private
@function -next($screen-size) {
    $breakpoint-names: map.keys(config.$internal-screen-breakpoints);
    $n: list.index($breakpoint-names, $screen-size);

    @if not $n {
        @error "Screen breakpoint `#{$screen-size}` not found in grid-breakpoints";
    }

    @return if(
        $n < length($breakpoint-names),
        list.nth($breakpoint-names, $n + 1),
        null
    );
}

/// Private version of the function to allow to call it from within this module
/// @see min()
/// @access private
@function -internal-min($screen-size) {
    @if map.has-key(config.$internal-screen-breakpoints, $screen-size) {
        @return map.get(config.$internal-screen-breakpoints, $screen-size);
    }

    @if $screen-size == "xxs" {
        @return 0;
    } @else {
        @error "Could not detect minimum width for screen size #{$screen-size}";
    }
}

/// Private version of the function to allow to call it from within this module
/// @see max()
/// @access private
@function -internal-max($screen-size) {
    $next-screen-size: -next($screen-size);

    @if $next-screen-size {
        @return -internal-min($next-screen-size) - 0.02;
    }

    $last-registered-screen: list.nth(
        map.keys(config.$internal-screen-breakpoints),
        -1
    );

    @if $screen-size == $last-registered-screen {
        @return 1000000px;
    }

    @if $screen-size == "xxs" {
        @if map.has-key(config.$internal-screen-breakpoints, "xs") > 0 {
            @return map.get(config.$internal-screen-breakpoints, "xs") - 0.02;
        } @else {
            @return 0;
        }
    }

    @error "Could not detect maximum width for screen size #{$screen-size}";
}
