html::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  z-index: 10000;
  display: block;
  pointer-events: none;
  background: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.1) 0, rgba(255, 0, 0, 0.1) 0.5rem, transparent 0.5rem, transparent calc(8.3333333333% - 0.5rem), rgba(255, 0, 0, 0.1) calc(8.3333333333% - 0.5rem), rgba(255, 0, 0, 0.1) calc(8.3333333333%));
  width: 100%;
}
@media (min-width: 0) {
  html::after {
    width: 100%;
  }
}
@media (min-width: 110px) {
  html::after {
    width: 100px;
  }
}
@media (min-width: 210px) {
  html::after {
    width: 200px;
  }
}
@media (min-width: 310px) {
  html::after {
    width: 300px;
  }
}
@media (min-width: 410px) {
  html::after {
    width: 400px;
  }
}
@media (min-width: 510px) {
  html::after {
    width: 500px;
  }
}
@media (min-width: 610px) {
  html::after {
    width: 600px;
  }
}

body::after {
  z-index: 10000;
  font-family: Menlo, "Courier New", Courier, monospace;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  line-height: normal;
  top: 0;
  color: #555;
  padding: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  right: 0;
  pointer-events: none;
  content: 'XXS | [100%] < max-screen("xs")';
}
@media (min-width: 0) {
  body::after {
    content: "XS | 0 < [100%] < max-screen(xs) ";
  }
}
@media (min-width: 110px) {
  body::after {
    content: "SM | 110px < [100px] < max-screen(sm) ";
  }
}
@media (min-width: 210px) {
  body::after {
    content: "MD | 210px < [200px] < max-screen(md) ";
  }
}
@media (min-width: 310px) {
  body::after {
    content: "LG | 310px < [300px] < max-screen(lg) ";
  }
}
@media (min-width: 410px) {
  body::after {
    content: "XL | 410px < [400px] < max-screen(xl) ";
  }
}
@media (min-width: 510px) {
  body::after {
    content: "XXL | 510px < [500px] < max-screen(xxl) ";
  }
}
@media (min-width: 610px) {
  body::after {
    content: "XXXL | 610px < [600px] < max-screen(xxxl) ";
  }
}

body::before {
  width: 1rem;
  height: 16;
}

.container {
  width: 100%;
}
@media (min-width: 0) {
  .container {
    width: 100%;
  }
}
@media (min-width: 110px) {
  .container {
    width: 100px;
  }
}
@media (min-width: 210px) {
  .container {
    width: 200px;
  }
}
@media (min-width: 310px) {
  .container {
    width: 300px;
  }
}
@media (min-width: 410px) {
  .container {
    width: 400px;
  }
}
@media (min-width: 510px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 610px) {
  .container {
    width: 600px;
  }
}

.container-with-extra {
  width: 100%;
}
@media (min-width: 0) {
  .container-with-extra {
    width: calc(100% + 20px);
  }
}
@media (min-width: 110px) {
  .container-with-extra {
    width: 120px;
  }
}
@media (min-width: 210px) {
  .container-with-extra {
    width: 220px;
  }
}
@media (min-width: 310px) {
  .container-with-extra {
    width: 320px;
  }
}
@media (min-width: 410px) {
  .container-with-extra {
    width: 420px;
  }
}
@media (min-width: 510px) {
  .container-with-extra {
    width: 520px;
  }
}
@media (min-width: 610px) {
  .container-with-extra {
    width: 620px;
  }
}
