@use "sass:map";
@use "../config" as config;
@use "assert";

/// Apply the default container width to the element
///
/// @param {Length} $extra [null] - Add the given extra space to the width
@mixin apply-widths($extra: null) {
    @include assert.is-configured(config.$internal-screen-breakpoints);
    @include assert.is-configured(config.$internal-container-max-widths);

    width: 100%;

    @each $name, $breakpoint in config.$internal-screen-breakpoints {
        @media (min-width: $breakpoint) {
            @if map.has-key(config.$internal-container-max-widths, $name) {
                $max-width: map.get(
                    config.$internal-container-max-widths,
                    $name
                );

                @if $extra {
                    width: calc($max-width + $extra);
                } @else {
                    width: $max-width;
                }
            }
        }
    }
}
